<h3>Alterar serviço: </h3>
<div class="card">
    <div class="card-body">
        <form action="/usuario/alterar-servico" method="post">
            <input type="text" name="id" value="{{servico._id}}" hidden>
            <label for="titulo">Nome: </label>
                <input type="text" name="titulo" class="form-control" value="{{servico.nome}}" required >
            <label for="descricao">Descrição: </label>
                <textarea name="descricao" class="form-control" >{{servico.descricao}}</textarea>
            <label for="valor">Valor: </label>
                <input type="string" name="valor" value="{{servico.valor}}" class="form-control" required>
            <button class="btn btn-success mt-4" type="submit">Alterar</button>
        </form>
    </div>
</div>