<h3>Cadastrar serviço: </h3>
<div class="card">
    <div class="card-body">
        <form action="/usuario/cadastro-servico" method="post">
            <label for="titulo">Nome: </label>
                <input type="text" name="titulo" class="form-control" required>
            <label for="descricao">Descrição: </label>
                <textarea name="descricao" class="form-control"></textarea>
            <label for="valor">Valor: </label>
                <input type="string" name="valor" class="form-control" required>
            <button class="btn btn-success mt-4" type="submit">Cadastrar</button>
        </form>
    </div>
</div>