<h3>Check-in e Check-out</h3>
<div class="card">
    <div class="card-body mt-2">
        <h4 class="mt-2">Selecione o quarto</h4>
        <hr>


        <div class="container">


            <div class="row">

                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <h5>Quarto 1</h5>
                            <p>Estado: Disponível</p>
                            <div>
                                <button class="btn btn-success">Selecionar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <h5>Quarto 2</h5>
                            <p>Estado: Ocupado</p>
                            <div>
                                <button class="btn btn-danger">Selecionar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <h5>Quarto 3</h5>
                            <p>Estado: Disponível</p>
                            <div>
                                <button class="btn btn-success">Selecionar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-1">

                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <h5>Quarto 4</h5>
                            <p>Estado: Em manutenção</p>
                            <div>
                                <button class="btn btn-secondary" disabled>Selecionar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <h5>Quarto 5</h5>
                            <p>Estado: Disponível</p>
                            <div>
                                <button class="btn btn-success">Selecionar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    
                </div>
            </div>

        </div>


    </div>
</div>
