<h3>Gerar Cupom fiscal</h3>

<div class="card">
    <div class="card-body">
        <h4>Cliente: João Arnaldo</h4>
        <hr>
        <p>Tempo de estadia: 3 dias.</p>
        <p>Serviços solicitados</p>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Quantidade</p>
                </div>
                <div class="col">
                    <p>Serviço</p>
                </div>
                <div class="col">
                    <p>Valor</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p>2</p>
                </div>
                <div class="col">
                    <p>Colsulta com psicanalista</p>
                </div>
                <div class="col">
                    <p>150,00</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>Terapia X</p>
                </div>
                <div class="col">
                    <p>450,00</p>
                </div>
            </div>
        </div>

        <p>Itens consumidos:</p>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Quantidade</p>
                </div>
                <div class="col">
                    <p>Item</p>
                </div>
                <div class="col">
                    <p>Valor unitário</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p>2</p>
                </div>
                <div class="col">
                    <p>Coca-cola</p>
                </div>
                <div class="col">
                    <p>3,50</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p>1</p>
                </div>
                <div class="col">
                    <p>Cheetos</p>
                </div>
                <div class="col">
                    <p>4,50</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p>Total:</p>
                </div>
                <div class="col">
                    <p></p>
                </div>
                <div class="col">
                    <p>611,50</p>
                </div>
            </div>
        </div>
        <div style="text-align:center;">
            <button class="btn btn-success">Gerar PDF</button>
        </div>
    </div>
</div>